.logo {
    background: url(../../images/logo/HotelBooking__header.svg) center center/contain no-repeat;
    width: 229px;
    height: 39px;
}

@media screen and (max-width: 1023px) {
    .logo {
        width: 200px;
        height: 34px;
    }
}

@media screen and (max-width: 767px) {
    .logo {
        width: 117px;
        height: 17px;
    }
}