.rent__image_place_center {
    background: url("../../../../images/house1-2.jpg") center center/cover no-repeat;
    height: 0;
    padding-bottom: calc(((100% - 48px) / 3) * 3.1276);
    width: calc((100% - 48px) / 3);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: calc(((100% - 48px) / 3) * 3.1276 * 0.136);
}