.rent__image_place_center {
    background: url("../../../../images/house1-2.jpg") center center/cover no-repeat;
    height: calc(100% - 80px);
    flex-basis: 180px;
    border-radius: 4px;
    align-self: flex-end;
}