.navigation {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 36px;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1023px) {
    .navigation {
        gap: 15px;
    }
}

@media screen and (max-width: 767px) {
    .navigation {
        display: none;
    }
}